framework: auto-detect
source https://nuget.org/api/v2

nuget FSharp.Core 

nuget SourceLink.Fake
nuget FAKE
nuget FSharp.Formatting

github fsharp/FAKE modules/Octokit/Octokit.fsx

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.VisualStudio.TestAdapter version_in_path: true